.ftco-section-search {
  background: #ff5f5f; }

  .ftco-section-2 .section-2-blocks-wrapper .button {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0;
  margin-right: -50px;
  border-radius: 50%;
  background: #ff5f5f;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite; }
  @media (max-width: 991.98px) {
    .ftco-section-2 .section-2-blocks-wrapper .button {
      top: auto;
      bottom: 0 !important;
      margin-right: auto;
      right: auto;
      left: 50%;
      margin-bottom: -50px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); } }
  .ftco-section-2 .section-2-blocks-wrapper .button span {
    position: absolute;
    font-size: 30px;
    color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-30%, -48%);
    -ms-transform: translate(-30%, -48%);
    transform: translate(-30%, -48%); }

.ftco-section-2 .section-2-blocks-wrapper .text {
  position: relative;
  z-index: -1;
  padding: 15px; }
  @media (min-width: 768px) {
    .ftco-section-2 .section-2-blocks-wrapper .text {
      padding: 10% 7%;
      background: rgba(0, 0, 0, 0.02); } }
  .ftco-section-2 .section-2-blocks-wrapper .text h3 {
    margin-bottom: 50px; }

.ftco-section-2 .section-2-blocks-wrapper .img {
  display: block;
  background-position: center center;
  background-size: cover; }
  @media (max-width: 991.98px) {
    .ftco-section-2 .section-2-blocks-wrapper .img {
      height: 400px; } }
.ftco-section .ftco-sub-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .5em;
  color: #d4d4d4;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oswald",  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300; }

.ftco-section .ftco-primary-title {
  margin-top: 0;
  margin-bottom: 30px; }
  .ftco-section {
  padding: 7em 0;
  position: relative; }
.testimony-section {
  position: relative; }
  .testimony-section .owl-carousel {
    margin: 0; }
  .testimony-section .owl-carousel .owl-stage-outer {
    padding-top: 2.5em;
    padding-bottom: 1em;
    position: relative; }
    .testimony-section .owl-carousel .owl-stage-outer:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100px;
      height: 100vh;
      -webkit-box-shadow: inset 105px 0px 70px -60px white;
      -moz-box-shadow: inset 105px 0px 70px -60px white;
      box-shadow: inset 105px 0px 70px -60px white;
      z-index: 1; }
    .testimony-section .owl-carousel .owl-stage-outer:after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      width: 100px;
      height: 100vh;
      -webkit-box-shadow: inset -105px 0px 70px -60px white;
      -moz-box-shadow: inset -105px 0px 70px -60px white;
      box-shadow: inset -105px 0px 70px -60px white; }
    @media (max-width: 767.98px) {
      .testimony-section .owl-carousel .owl-stage-outer:before, .testimony-section .owl-carousel .owl-stage-outer:after {
        display: none; } }
.container1 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container1 {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container1 {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container1 {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container1 {
      max-width: 1140px; } }

.navbar > .container1,
  .navbar > .container1-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

@media (max-width: 575.98px) {
  .navbar-expand-sm > .container1,
  .navbar-expand-sm > .container1-fluid {
    padding-right: 0;
    padding-left: 0; } }
@media (min-width: 576px) {
.navbar-expand-sm > .container1,
    .navbar-expand-sm > .container1-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }}

@media (max-width: 767.98px) {
  .navbar-expand-md > .container1,
  .navbar-expand-md > .container1-fluid {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 768px) {

    .navbar-expand-md > .container1,
    .navbar-expand-md > .container1-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
     }

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container1,
  .navbar-expand-lg > .container1-fluid {
    padding-right: 0;
    padding-left: 0; } }
.navbar-expand > .container1,
  .navbar-expand > .container1-fluid {
    padding-right: 0;
    padding-left: 0; }
.navbar-expand > .container1,
  .navbar-expand > .container1-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .container1 {
    z-index: 2;
    position: relative;
    background: #fff !important;
    padding: 30px; }
     @media (min-width: 768px) {
    .container1 {
        padding: 70px;
        padding-top: 40px; } }
